(
    frames: [
        (
            name: "stoneInset_S",
            x: 260,
            y: 302,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.28954938,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [0]
        (
            name: "stoneInset_N",
            x: 1292,
            y: 2,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [1]
        (
            name: "stoneTile_E",
            x: 1034,
            y: 443,
            w: 256,
            h: 148,
            screen: (
                x: 0.57190263,
                y: 0.42473632,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [2]
        (
            name: "stoneSteps_W",
            x: 518,
            y: 452,
            w: 256,
            h: 139,
            screen: (
                x: 0.28650445,
                y: 0.43336532,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [3]
        (
            name: "stoneMissingTiles_E",
            x: 260,
            y: 602,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.5771812,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [4]
        (
            name: "stoneUneven_E",
            x: 2,
            y: 725,
            w: 256,
            h: 145,
            screen: (
                x: 0.0011061947,
                y: 0.69511026,
                w: 0.14159292,
                h: 0.13902205,
            ),
        ),// [5]
        (
            name: "stoneTile_S",
            x: 1034,
            y: 293,
            w: 256,
            h: 148,
            screen: (
                x: 0.57190263,
                y: 0.28092042,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [6]
        (
            name: "stoneCorner_N",
            x: 2,
            y: 872,
            w: 256,
            h: 148,
            screen: (
                x: 0.0011061947,
                y: 0.83604985,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [7]
        (
            name: "stoneCorner_E",
            x: 518,
            y: 734,
            w: 256,
            h: 148,
            screen: (
                x: 0.28650445,
                y: 0.7037392,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [8]
        (
            name: "stoneRight_S",
            x: 776,
            y: 894,
            w: 256,
            h: 139,
            screen: (
                x: 0.42920354,
                y: 0.85714287,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [9]
        (
            name: "stoneStep_E",
            x: 2,
            y: 143,
            w: 256,
            h: 148,
            screen: (
                x: 0.0011061947,
                y: 0.13710451,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [10]
        (
            name: "stoneInset_E",
            x: 1292,
            y: 293,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.28092042,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [11]
        (
            name: "stoneSide_E",
            x: 1034,
            y: 143,
            w: 256,
            h: 148,
            screen: (
                x: 0.57190263,
                y: 0.13710451,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [12]
        (
            name: "stoneSide_S",
            x: 518,
            y: 302,
            w: 256,
            h: 148,
            screen: (
                x: 0.28650445,
                y: 0.28954938,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [13]
        (
            name: "stoneSteps_E",
            x: 1292,
            y: 593,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.56855226,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [14]
        (
            name: "stoneSideUneven_S",
            x: 1550,
            y: 875,
            w: 256,
            h: 148,
            screen: (
                x: 0.85730094,
                y: 0.83892614,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [15]
        (
            name: "stoneRight_W",
            x: 1550,
            y: 593,
            w: 256,
            h: 139,
            screen: (
                x: 0.85730094,
                y: 0.56855226,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [16]
        (
            name: "stoneMissingTiles_W",
            x: 1292,
            y: 743,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.71236813,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [17]
        (
            name: "stoneRight_N",
            x: 2,
            y: 443,
            w: 256,
            h: 139,
            screen: (
                x: 0.0011061947,
                y: 0.42473632,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [18]
        (
            name: "stoneLeft_N",
            x: 776,
            y: 306,
            w: 256,
            h: 139,
            screen: (
                x: 0.42920354,
                y: 0.2933845,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [19]
        (
            name: "stoneLeft_S",
            x: 776,
            y: 744,
            w: 256,
            h: 148,
            screen: (
                x: 0.42920354,
                y: 0.71332693,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [20]
        (
            name: "stoneUneven_N",
            x: 776,
            y: 2,
            w: 256,
            h: 152,
            screen: (
                x: 0.42920354,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.14573346,
            ),
        ),// [21]
        (
            name: "stoneUneven_S",
            x: 1550,
            y: 293,
            w: 256,
            h: 148,
            screen: (
                x: 0.85730094,
                y: 0.28092042,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [22]
        (
            name: "stoneSideUneven_W",
            x: 2,
            y: 2,
            w: 256,
            h: 139,
            screen: (
                x: 0.0011061947,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [23]
        (
            name: "stoneSide_W",
            x: 1034,
            y: 2,
            w: 256,
            h: 139,
            screen: (
                x: 0.57190263,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [24]
        (
            name: "stoneMissingTiles_S",
            x: 1550,
            y: 443,
            w: 256,
            h: 148,
            screen: (
                x: 0.85730094,
                y: 0.42473632,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [25]
        (
            name: "stoneSteps_S",
            x: 260,
            y: 152,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.14573346,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [26]
        (
            name: "stoneStep_N",
            x: 518,
            y: 593,
            w: 256,
            h: 139,
            screen: (
                x: 0.28650445,
                y: 0.56855226,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [27]
        (
            name: "stone_S",
            x: 260,
            y: 752,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.7209971,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [28]
        (
            name: "stoneUneven_W",
            x: 776,
            y: 447,
            w: 256,
            h: 145,
            screen: (
                x: 0.42920354,
                y: 0.42857143,
                w: 0.14159292,
                h: 0.13902205,
            ),
        ),// [29]
        (
            name: "stoneInset_W",
            x: 1292,
            y: 893,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.85618407,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [30]
        (
            name: "stoneCorner_W",
            x: 1292,
            y: 152,
            w: 256,
            h: 139,
            screen: (
                x: 0.71460176,
                y: 0.14573346,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [31]
        (
            name: "stoneStep_W",
            x: 1034,
            y: 734,
            w: 256,
            h: 139,
            screen: (
                x: 0.57190263,
                y: 0.7037392,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [32]
        (
            name: "stoneSideUneven_E",
            x: 518,
            y: 2,
            w: 256,
            h: 148,
            screen: (
                x: 0.28650445,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [33]
        (
            name: "stoneMissingTiles_N",
            x: 260,
            y: 2,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [34]
        (
            name: "stoneLeft_E",
            x: 2,
            y: 584,
            w: 256,
            h: 139,
            screen: (
                x: 0.0011061947,
                y: 0.5599233,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [35]
        (
            name: "stone_E",
            x: 518,
            y: 152,
            w: 256,
            h: 148,
            screen: (
                x: 0.28650445,
                y: 0.14573346,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [36]
        (
            name: "stoneCorner_S",
            x: 1292,
            y: 443,
            w: 256,
            h: 148,
            screen: (
                x: 0.71460176,
                y: 0.42473632,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [37]
        (
            name: "stoneTile_N",
            x: 2,
            y: 293,
            w: 256,
            h: 148,
            screen: (
                x: 0.0011061947,
                y: 0.28092042,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [38]
        (
            name: "stoneSteps_N",
            x: 1034,
            y: 593,
            w: 256,
            h: 139,
            screen: (
                x: 0.57190263,
                y: 0.56855226,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [39]
        (
            name: "stoneRight_E",
            x: 776,
            y: 594,
            w: 256,
            h: 148,
            screen: (
                x: 0.42920354,
                y: 0.569511,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [40]
        (
            name: "stone_W",
            x: 1034,
            y: 875,
            w: 256,
            h: 148,
            screen: (
                x: 0.57190263,
                y: 0.83892614,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [41]
        (
            name: "stoneStep_S",
            x: 260,
            y: 452,
            w: 256,
            h: 148,
            screen: (
                x: 0.14380531,
                y: 0.43336532,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [42]
        (
            name: "stoneTile_W",
            x: 1550,
            y: 2,
            w: 256,
            h: 148,
            screen: (
                x: 0.85730094,
                y: 0.0019175456,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [43]
        (
            name: "stoneLeft_W",
            x: 1550,
            y: 152,
            w: 256,
            h: 139,
            screen: (
                x: 0.85730094,
                y: 0.14573346,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [44]
        (
            name: "stoneSide_N",
            x: 518,
            y: 884,
            w: 256,
            h: 139,
            screen: (
                x: 0.28650445,
                y: 0.8475551,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),// [45]
        (
            name: "stone_N",
            x: 776,
            y: 156,
            w: 256,
            h: 148,
            screen: (
                x: 0.42920354,
                y: 0.14956856,
                w: 0.14159292,
                h: 0.14189836,
            ),
        ),// [46]
        (
            name: "stoneSideUneven_N",
            x: 1550,
            y: 734,
            w: 256,
            h: 139,
            screen: (
                x: 0.85730094,
                y: 0.7037392,
                w: 0.14159292,
                h: 0.13326941,
            ),
        ),
    ],
)